body {
  background-color: black !important;
  color: white;

}

p {
  margin: 0 !important
}

.custom-article-list{
  border-radius: 10px;
  padding-top: 14px;
  background-color: rgba(70, 68, 68, 0.499);
  max-height: 600px;
  overflow: scroll;
}


.custom-image {
  width: 150px;
  height: 150px;
}

.custom-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.article-body {
  font-size: 12px;
  width: 400px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.custom-card {
  border: 1px solid rgb(82, 78, 78);
  max-height: 200px !important;
  padding: 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2); /* Colore semi-trasparente */
  backdrop-filter: blur(10px); /* Sfoca lo sfondo dietro la card */
  -webkit-backdrop-filter: blur(10px); /* Sfoca per Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Ombra per un effetto di profondità */
  border: 1px solid rgba(255, 255, 255, 0.157);
  color: white; /* Testo bianco per visibilità */
}

.custom-card:hover {
  border: 1px solid rgba(222, 211, 211, 0.858);
  cursor: pointer;
}

.custom-card-details {
  padding: 12px;
  border-radius: 8px;
  backdrop-filter: blur(10px); /* Sfoca lo sfondo dietro la card */
  -webkit-backdrop-filter: blur(10px); /* Sfoca per Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Ombra per un effetto di profondità */
  color: white; /* Testo bianco per visibilità */

}

.custom-image-details {
  width: 300px;
  height: 300px;
}

.custom-image-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.article-body-details {
  font-size: 15px;
  width: 400px;
}

