body {
  background-color: black !important;

}

.custom-button {
  background-color: rgb(130, 127, 127);
  border: 1px solid rgb(151, 124, 124);
}

.custom-badge {
  background-color: rgb(88, 88, 88) !important;
}

.custom-row {
  background-color: rgba(61, 61, 61, 0.684);
}

i {
  cursor: pointer;
  color: grey;
}